.topTitle {
  background: linear-gradient(90deg, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
  color: white;
  text-align: center;
  padding: 30px 0;
  margin: 0;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.topTitle h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.topTitle div {
  font-size: 1.3em;
}

.navbar-toggle-button {
  background: none;
  border: none;
  font-size: 2em;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.navbar-toggle-button:hover {
  color: #a8a8a8;
}
