.recommendation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* height: 100vh; */
    align-content: center;
  }

.center{
  text-align: center;
}